{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="signup-container">
  <form class="form" method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <span>Log In</span>

    {# Display non-field errors #}
    {% if form.non_field_errors %}
      <div class="error-message">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="input-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for err in form.username.errors %}
        <div class="error-message">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="input-group">
      {{ form.password.label_tag }}
      {{ form.password }}
      {% for err in form.password.errors %}
        <div class="error-message">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="forgot-password" style="margin-bottom:1rem;">
      <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
    </div>

    <button type="submit">Log In</button>

    <p>
      Don't have an account?
      <a href="{% url 'accounts:signup' %}">Sign Up</a>
    </p>
  </form>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/login.js' %}" defer></script>
{% endblock %}
